img{
    text-align: center;
}

.fondo{
    background-image: url(image/fondo.webp) ;
}

h1{
    text-align: center;
    color: white;
    font-family: fantasy;
}

footer{
    text-align: center;
    color: white;
}